h1{
    position:relative;
    margin:0 22px 0 10px;
    padding:14px 15px 0px 20px;
    font:normal 24px/1.3 serif;
    color:#009;
    background:#ffc;
    box-shadow:
        12px 0 0 0 #ffc,
        0 12px 0 0 #ffc,
        1px 15px 4px -3px rgba(0,0,0,0.2);
}

h1:before{
    content:" ";
    position:absolute;
    top:100%;
    left:100%;
    width: 0;
    height:0;
    border-width:12px 12px 0 0;
    border-style:solid;
    border-color:transparent;
    border-top-color:#cc9;
}
h1:after{
    content:" ";
    position:absolute;
    padding:0 20px;
    bottom:0;
    left:10px;
    width:120px;
    height:20px;
    background:rgba(255,182,182,0.4);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
}
div.card-body{
    margin-left:0px;
}
#wrapper {
    width:80%;
    margin: 30px;
}
#main {
    display : flex;
    justify-content: space-around;
}
#main1 {
     display: inline-block;
    width: 65%; 
    background-color: #eeffff;
    text-align: left;
    padding: 5px;
}
#header {
    display: flex;
}
/*#title {
    display: inline;
    background-color: #adff2f;
    margin: 20px 0px 20px 200px;
} */
#title1 {
    display: inline;
    background-color: #f0f8ff;
}

#wrapper1 {
    display: flex;
    /*width: 95%; */
    justify-content: space-between;
    margin: 30px 0 70px 0;
}
#main2 {
    width:45%;
    margin-top: 50px;
}
#aside {
    width:50%;
    margin-top: 30px;
}
html, body {
    height: 100%;
    margin:0;
}
.footer,
.push {
  height: 50px;
}
.container {
    min-height: 100%;
 
  /* フッタの高さと等しいネガティブマージン */
  /* また最後の子要素の潜在的なマージンとしても機能 */
  margin-bottom: -50px;
}